<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <system.serviceModel>
        <client>
            <endpoint name="WcfServiceEndpoint"
                      address="http://localhost:8080/WcfService"
                      binding="ws2007FederationHttpBinding"
                      bindingConfiguration="FederatedBinding"
                      contract="Client.IWcfService" />
        </client>

        <bindings>
            <ws2007FederationHttpBinding>
                <binding name="FederatedBinding">
                    <security mode="Message">
                        <message negotiateServiceCredential="false" 
                                 establishSecurityContext="false"
                                 issuedKeyType="BearerKey"
                                 issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0">
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>