<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <system.serviceModel>
        <services>
            <service name="Server.WcfService" behaviorConfiguration="ServiceBehavior">
                <endpoint address=""
                          binding="ws2007FederationHttpBinding"
                          bindingConfiguration="FederatedBinding"
                          contract="Server.IWcfService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/WcfService" />
                    </baseAddresses>
                </host>
            </service>
        </services>

        <bindings>
            <ws2007FederationHttpBinding>
                <binding name="FederatedBinding">
                    <security mode="Message">
                        <message negotiateServiceCredential="false" 
                                 establishSecurityContext="false"
                                 issuedKeyType="BearerKey"
                                 issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0">
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
        </bindings>

        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceCredentials>
                        <issuedTokenAuthentication certificateValidationMode="None" 
                                                    revocationMode="NoCheck" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>